{% extends "tethys_apps/app_base.html" %} 

{% load static %} 

{% block title %}
  {{tethys_app.name }} 
{% endblock %} 

{% block app_icon %} 
{# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}

<img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}"/>
{% endblock %} 

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #} 

{% block app_title %}{{ tethys_app.name }}{%endblock %} 


{% block header_buttons %}
  {{ block.super }} 

  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Getting Started">
    <a data-toggle="modal" data-target="#help-modal"><i class="fa-solid fa-question"></i></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Data Prep">
    <a data-toggle="modal" data-target="#data-prep-modal"><i class="fa-solid fa-file-signature"></i></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %} 
{% url 'mch_bridge:stations' as stations_url %}
{% url 'mch_bridge:groupStations' as groupStations_url %}
{% url 'mch_bridge:variableStationTypes' as variableStationTypes_url %}
{% url 'mch_bridge:timeSeries' as timeSeries_url %}

<h3 class="title__app__content">MCH Database Tables</h3>
  <div class="vertical__flex">

    <div class="horizontal__flex active_tab" id="stations_tab">
        <p class="item">  <a href="{{ stations_url }}"> Stations </a>  <i class="fa-solid fa-location-dot"></i></p>
    </div>
    <div class="horizontal__flex" id="group_station_tab">
      <p class="item"> <a href="{{ groupStations_url }}">Groups Stations </a><i class="fa-solid fa-dice-five"></i></p>
    </div>
    <div class="horizontal__flex" id="variable_stn_tab">
      <p class="item"> <a href="{{ variableStationTypes_url }}">Variable Station Types</a> <i class="fa-solid fa-dice-d6"></i></p>
    </div>
    <div class="horizontal__flex" id="time_series_tab">
      <p class="item">  <a href="{{ timeSeries_url }}">Time Series </a> <i class="fa-solid fa-chart-line"></i></p>
    </div>
</div>
{% endblock %}

{% block app_content%} 

{% endblock %} 

{% block after_app_content %} 
{{ block.super }}


{% include "mch_bridge/modals/getting_started.html"%}
{% include "mch_bridge/modals/data_prep.html"%}


{% endblock %}


{% block app_actions %} 

{% endblock %} 
{% block content_dependent_styles %} 

{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
  integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<link href="{% static 'mch_bridge/css/main.css' %}" rel="stylesheet" />


{% endblock %} 

{% block scripts %} 

{{ block.super }}
<script>
  const mchHomeUrl = "{% url 'mch_bridge:home' %}";
</script>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@3.0.7/dist/esri-leaflet.js"
integrity="sha512-ciMHuVIB6ijbjTyEdmy1lfLtBwt0tEHZGhKVXDzW7v7hXOe+Fo3UA1zfydjCLZ0/vLacHkwSARXB5DmtNaoL/g=="
crossorigin=""></script>

 <!-- Load Esri Leaflet Vector from CDN -->
 <script src="https://unpkg.com/esri-leaflet-vector@3.1.2/dist/esri-leaflet-vector.js"
   integrity="sha512-SnA/TobYvMdLwGPv48bsO+9ROk7kqKu/tI9TelKQsDe+KZL0TUUWml56TZIMGcpHcVctpaU6Mz4bvboUQDuU3w=="
   crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>


<script src="https://cdn.jsdelivr.net/npm/danfojs@1.0.2/lib/bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>

<script src="{% static 'mch_bridge/js/notify.min.js' %}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
<!-- or -->
<script src="https://unpkg.com/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
<script src="{% static 'mch_bridge/js/main.js' %}" type="text/javascript"></script>


{% endblock %} 


