{% extends "mch_bridge/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}


{% block app_content%} 

<div id="sidebar">
  <br>
  <div class="horizontal__flex">
    <span class='fake__btn' id="back_going">
      <i class="fa-solid fa-arrow-left"></i>
    </span>
    <p class="item">Data Menu</p>
  </div>
  
  <table class="table table-striped">
      <thead>
          <tr>
              <th>File</th>
              <th>Rows</th>
              <th>Status</th>
          </tr>
      </thead>
     
      <tbody id="stngroups_table_content">
        
      </tbody>
  </table>
  <div class="horizontal__flex__button">
    <span class='fake__btn btn__primary' id="uploadGroupstations">
      <i class="fa-solid fa-arrow-up-from-bracket"></i>
      <span>Upload</span>
      
    </span>
    <span class='fake__btn btn__secondary' id="previewGroupStation">
      <i class="fa-solid fa-border-none"></i>
      <span>Preview</span>
      
    </span>
  </div>

</div>

<div id="comodin__div"> </div>

{% endblock %} 

{# Use the after_app_content block for modals #}
{% block after_app_content %} 
{{ block.super }} 


{% include "mch_bridge/modals/preview_template.html" with modal_id="groupStations_preview_modal" title="Stations Group" description="Please Upload a csv file containing a group of stations" div_id="groupStations_csv_file_preview" csv_name="groupStations_csv_preview" csv_id="groupStations_csv_preview" isMultiple=""%}
{% include "mch_bridge/modals/upload_data_template.html" with modal_id="groupStations_upload_modal" title="Stations Group" description="Please Upload a csv file containing a group of stations" div_id="groupStations_csv_file_upload" csv_name="groupStations_csv_upload" csv_id="groupStations_csv_upload" isMultiple=""%}

{% endblock %}

