{% extends "mch_bridge/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}


{% block app_content%} 
  <div class="content_divided">
    <div id="instructions" >
      <h1>MCH Bridge Help</h1>
      <p>The application MCH bridge allows users to connect to a current MCH database instance to upload and preview csv files of:</p>
      <ul>
        <li>
          <p>
            Stations
        </p>
        </li>
        <li>
          <p>
            Station Groups
          </p>
        </li>
        <li>
          <p>
            Variable Types Stations
          </p>
        </li>
        <li>
          <p>
            Time Series (Detail and Daily data)
          </p>
        </li>
      </ul>
      <p>The applicationa allows to upload to the MCH database a single csv file for StationsStation Groups, and Variable Types Stations data, and multiple csv files for timseries. </p>
      <br>
      <h5><strong>Data Uploading and Previewing</strong> </h5>
      <p>
        Data is uploaded asynchronously. This means data is uploaded to an MCH instance concurrently for all the different csv data files. 
      </p>
      <p>Similarly data can be previewed for the different data files:</p>
        <ul>
          <li>
            <p>
              Stations: Data file containing stations can be previewed in a map that shows the name of the each stations after clicking on each of them.
            </p>
         </li> 
         <li>
          <p>
            Time Series: Data files for each time serie are ploted in order to be previewed.
          </p>
        </li>
        <li>
          <p>
            Station Groups and Variable Types Stations: Data file containing stations groups or variable types stations are previewed by providing a table with the content of the file.
          </p>
        </li>      
        </ul>
      <br>      
      <h5><strong>Data Preparation</strong> </h5>
      <p>Sample files can be found <a href="https://github.com/BYU-Hydroinformatics/mch_bridge/tree/main/tethysapp/mch_bridge/data_test">here</a> if needed</p>
      <p><strong>Stations</strong></p>
      <p>The data file containing the stations data should have the following columns</p>
      <ul id="stations_cols">
        <li><p>Station</p></li>
        <li><p>StationName2</p></li>
        <li><p>Longitude</p></li>
        <li><p>Latitude</p></li>
        <li><p>Altitude</p></li>
        <li><p>Longitude2</p></li>
        <li><p>Latitude2</p></li>
        <li><p>DMSLongitude</p></li>
        <li><p>DMSLatitude</p></li>
        <li><p>Statee</p></li>
        <li><p>Catchment</p></li>
        <li><p>Subcatchment</p></li>
        <li><p>RegManagmt</p></li>
        <li><p>OperatnlRegion</p></li>
        <li><p>HydroReg</p></li>
        <li><p>RH</p></li>
        <li><p>Municipality</p></li>
        <li><p>CodeB</p></li>
        <li><p>CodeG</p></li>
        <li><p>CodeCB</p></li>
        <li><p>CodePB</p></li>
        <li><p>CodeE</p></li>
        <li><p>CodeCL</p></li>
        <li><p>CodeHG</p></li>
        <li><p>CodePG</p></li>  
        <li><p>CodeNw</p></li>  
        <li><p>Code1</p></li>  
        <li><p>Code2</p></li>  
        <li><p>Code3</p></li>  
        <li><p>MaxOrdStrgLvl</p></li>  
        <li><p>MaxOrdStrgVol</p></li>  
        <li><p>MaxExtStrgLvl</p></li>

        <li><p>MaxExtStrgVol</p></li>  
        <li><p>SpillwayLevel</p></li>  
        <li><p>SpillwayStorage</p></li>  
        <li><p>FreeSpillwayLevel</p></li>  
        <li><p>FreeSpillwayStorage</p></li>  
        <li><p>DeadStrgLevel</p></li>
        <li><p>DeadStrgCapac</p></li>  
        <li><p>UsableStorageCapLev</p></li>  
        <li><p>UsableStorage</p></li>  
        <li><p>Key1fil</p></li>
        <li><p>Key2fil</p></li>  
        <li><p>Key3fil</p></li>  
        <li><p>CritLevelSta</p></li>  
        <li><p>CritLevelSta</p></li>  
        <li><p>MinLevelSta</p></li>

        <li><p>MaxLevelSta</p></li>  
        <li><p>CritFlow</p></li>  
        <li><p>MinDischarge</p></li>  
        <li><p>MaxDischarge</p></li>  
        <li><p>Distance</p></li>  
        <li><p>Infrastructure</p></li>  
        <li><p>Type</p></li>  
        <li><p>Usee</p></li>  

    
      </ul>
      <p><strong>Stations Groups</strong></p>
      <p>The data file containing the stations groups data should have the following columns</p>
      <ul>
        <li>
          <p>
            StnGroup
          </p>
        </li>
        <li>
          <p>
            Sequen
          </p>
        </li>
        <li>
          <p>
            Station
          </p>
        </li>
      </ul>
      <p><strong> Variable Types Stations</strong></p>
      <p>The data file containing the variable types stations data should have the following columns</p>
      <ul>
        <li>
          <p>
            StationType
          </p>
        </li>
        <li>
          <p>
            Sequen
          </p>
        </li>
        <li>
          <p>
            Variable
          </p>
        </li>
      </ul>
      <p><strong>Time Series</strong></p>
      <p>The data files containing the time series might have different columns, but all of them should have a column called <strong>table_name</strong> with at
      least the first cell containing the name of the table to insert in the MCH database. For example, for daily precipitation data the name of the table is <strong>ddprecipitation</strong></p>
    </div>
    <!-- <div class="content_arrows">
      <span class='fake__btn' id="last_plot">
        <i class="fa-solid fa-angle-left"></i>
      </span>
      <span class='fake__btn' id="next_plot">
        <i class="fa-solid fa-angle-right"></i>
      </span>
    </div> -->
    
    <!-- <div id="comodin__div">
    </div> -->
    <!-- <div id="metadata">
      <table id="csv_table" class="display nowrap" style="width:100%"> </table>
    </div> -->

  </div>

{% endblock %} 

{# Use the after_app_content block for modals #}
{% block after_app_content %}

<!-- {% include "mch_bridge/modals/add_data_template.html" with modal_id="stations_modal" title="Stations" description="Please Upload a csv file containing stations" div_id="station_csv_file_upload" csv_name="stations_csv" csv_id="stations_csv" isMultiple=""%}
{% include "mch_bridge/modals/add_data_template.html" with modal_id="stngroups_modal" title="Station Groups" description="Please Upload a csv file containing stations groups" div_id="stn_group_csv_file_upload" csv_name="stngroups_csv" csv_id="stngroups_csv" isMultiple=""%}
{% include "mch_bridge/modals/add_data_template.html" with modal_id="variableTypesStations_modal" title="Variable Types Stations" description="Please Upload a csv file containing variable types stations" div_id="vartypestn_file_upload" csv_name="variabletypestn_csv" csv_id="variabletypestn_csv" isMultiple=""%}
{% include "mch_bridge/modals/add_data_template.html" with modal_id="ts_modal" title="Tme Series  for Stations" description="Please Upload a csv file containing time series for stations" div_id="ts_file_upload" csv_name="ts_csv" csv_id="ts_csv" isMultiple="multiple"%} -->

<!-- Upload Stations -->

{% endblock %}
