<!-- The modal -->
<div class="modal fade" id="stn_var_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Stations with Variable Data</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p>Number of Stations: <span id="table_sumary"></span></p>
                    <p id="warning_prompt" class="hidden">There is no data available</p>
                </div>
                <div class="table-responsive table_height">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Station Name</th>
                                <th>Data Points</th>
                            </tr>
                        </thead>
                        <tbody id="tables_stn_vars">

                        </tbody>

                </div>
            </div>
        </div>
    </div>
</div>